.ml-40{
	margin-left: 40px;
}
.div2 {
	height: 200px;
}
.div2_1 p{
	font-size: 12px;
}
.div3 {
	background-color: white;
	padding: 2rem 0;
	color: grey;
}
.selected {
	color: red;
}
.div4 {
	background-color: #f4f6f8;
}
.div5 {
	background-color: #515151;
	font-size: 12px;
}
.div6{
	background-color: #515151;
	font-size: 14px;

}
